<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div class="tickets">
      <h1> Ticket Booked Successfully with Booking Id : <%=  ticket._id  %> </h1>
      <h2> Ticket Details: </h2>
      <div class="ticket-details">
            <h3> Movie: <%=  ticket.movieName  %></h3>
            <h3>Theatre: <%=  ticket.theatreName  %></h3>
            <h3>at <%=  ticket.startTime  %></h3>
            <h3>Seats Booked: <%=  ticket.numberOfSeats  %></h3>
            <h3>Price per ticket: <%=  ticket.ticketPrice  %></h3>
            <h3>Total Paid: <%=  ticket.totalPrice  %></h3>
      </div>
</div>
    
<%- include('partials/footer') %>
    